# Covid-19 EDA

In [3]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [9]:
df = pd.read_csv("C:/Users/hp/Projects/Covid-19/covid_19.csv")

In [11]:
df.head()

,country,continent,population,day,time,Cases,Recovered,Deaths,Tests
0,Saint-Helena,Africa,6115.0,2024-06-30,2024-06-30T16:15:16+00:00,2166,2.0,NaN,NaN
1,Falkland-Islands,South-America,3539.0,2024-06-30,2024-06-30T16:15:16+00:00,1930,1930.0,NaN,8632.0
2,Montserrat,North-America,4965.0,2024-06-30,2024-06-30T16:15:16+00:00,1403,1376.0,8.0,17762.0
3,Diamond-Princess,NaN,NaN,2024-06-30,2024-06-30T16:15:16+00:00,712,699.0,13.0,NaN
4,Vatican-City,Europe,799.0,2024-06-30,2024-06-30T16:15:16+00:00,29,29.0,NaN,NaN

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     238 non-null    object
 1   continent   236 non-null    object
 2   population  229 non-null    float64
 3   day         238 non-null    object
 4   time        238 non-null    object
 5   Cases       238 non-null    int64
 6   Recovered   190 non-null    float64
 7   Deaths      233 non-null    float64
 8   Tests       213 non-null    float64
dtypes: float64(4), int64(1), object(4)
memory usage: 16.9+ KB

In [13]:
df.columns

Index(['country', 'continent', 'population', 'day', 'time', 'Cases',
       'Recovered', 'Deaths', 'Tests'],
      dtype='object')

In [14]:
df.shape

(238, 9)

In [15]:
df.describe()

         population         Cases     Recovered        Deaths         Tests
count  2.290000e+02  2.380000e+02  1.900000e+02  2.330000e+02  2.130000e+02
mean   3.469404e+07  8.883449e+06  1.006214e+07  9.026621e+04  3.298829e+07
std    1.386374e+08  5.193031e+07  5.555519e+07  5.163434e+05  1.198779e+08
min    7.990000e+02  9.000000e+00  2.000000e+00  1.000000e+00  7.850000e+03
25%    4.454310e+05  2.741875e+04  2.197250e+04  2.250000e+02  3.478150e+05
50%    5.797805e+06  2.320425e+05  2.351455e+05  2.570000e+03  2.226216e+06
75%    2.210284e+07  1.565481e+06  2.078212e+06  1.805700e+04  1.346373e+07
max    1.448471e+09  7.047539e+08  6.756198e+08  7.010681e+06  1.186852e+09

In [16]:
df.isnull().sum()

country        0
continent      2
population     9
day            0
time           0
Cases          0
Recovered     48
Deaths         5
Tests         25
dtype: int64

In [19]:
df['country']

0          Saint-Helena
1      Falkland-Islands
2            Montserrat
3      Diamond-Princess
4          Vatican-City
             ...
233           Argentina
234         Netherlands
235              Mexico
236                Iran
237           Indonesia
Name: country, Length: 238, dtype: object

In [20]:
mean_recovered = df['Recovered'].mean()

In [21]:
df['Recovered'].fillna(mean_recovered, inplace=True)

In [22]:
df.isnull().sum()

country        0
continent      2
population     9
day            0
time           0
Cases          0
Recovered      0
Deaths         5
Tests         25
dtype: int64

In [23]:
mean_test = df['Tests'].mean()

In [24]:
df['Tests'].fillna(mean_test, inplace=True)

In [25]:
df.isnull().sum()

country       0
continent     2
population    9
day           0
time          0
Cases         0
Recovered     0
Deaths        5
Tests         0
dtype: int64

In [26]:
mean_death = df['Deaths'].mean()
df['Deaths'].fillna(mean_death, inplace=True)

In [27]:
df.isnull().sum()

country       0
continent     2
population    9
day           0
time          0
Cases         0
Recovered     0
Deaths        0
Tests         0
dtype: int64